@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');



body {
    background-color: #c8734a;
    background-image: linear-gradient(#c8734a, #e9cc66);
    background-attachment: fixed;
}

body {
    font-family: 'Londrina Solid', cursive;
}