@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

@font-face {
  font-family: myFirstFont;
  src: url(/public/LondrinaSolid-Light.ttf);
}
* {
  font-family: myFirstFont;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Menu Components */
.Menu-Header {
  background-image: linear-gradient(#c8734a, #e9cc66);
  padding-top: 2.5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Menu-Title {
  font-size: 750%;
  color: #692c29;
  letter-spacing: .25cm;
  font-weight: bold;
}

.Menu-Buttons {
  table-layout: fixed;
}
.Menu-Button {
  margin: .5%; 
  border: 0px;
  font-weight: bold;
  opacity: 0.6;
  transition: 0.3s;
  font-size: 300%;
  padding: 1%;
  background-color: #a52931;
  color: #e9cc66;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
.Menu-Button:hover {opacity: 0.9;}



/* Board Components */
.tile {
  background-color: lightskyblue;
  border: 1px solid #999;
  float: left;
  height: 25;
  width: 25;
}

.board {
  background-color: black;
}
